@import url(//db.onlinewebfonts.com/c/3b114d63b02026b0c7077f0e55a95dda?family=Avenir+Next+Rounded+Pro);

@font-face {
    font-family: "Avenir Next Rounded Pro";
    src: url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.eot");
    src: url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.woff") format("woff"), url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3b114d63b02026b0c7077f0e55a95dda.svg#Avenir Next Rounded Pro") format("svg");
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    font-family: "Avenir Next Rounded",sans-serif;
}

body {
    margin: 0;
}

img {
    width: 100%;
}

.banner {
    font-size: 11px;
    position: absolute;
    top: 0;
    background-color: black;
    color: white;
    width: 100%;
    height: min-content;
    text-align: center;
    letter-spacing: 2px;
}

.logo-section {
    text-align: center;
    padding: 15px;
    margin-top: 50px;
    position: relative;
}

.logo {
    width: 10%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

    nav a {
        padding: 0 25px 0 25px;
        text-decoration: none;
        color: black;
    }

        nav a:visited {
            color: black;
        }

        nav a:hover {
            color: #aae2f8;
        }

.drop-down {
    overflow: hidden;
}

    .drop-down:hover .drop-items {
        display: flex;
        flex-direction: column;
        background-color: #f4e0ea;
        color: white;
        padding: 8px 5px 5px 5px;
        border: 1px solid black;
        border-top: none;
    }

.drop-items {
    display: none;
    position: absolute;
    z-index: 3;
}

.drop-items a {
    color: white;
    font-size: 20px;
    padding: 3px;
}

.drop-items a:visited {
    color: white;
}

.hero {
    background-image: url("../assets/heroBackground.png");
    background-repeat: no-repeat;
    height: 100vh;
    text-align: center;
    color: white;
    margin-top: -21px;
    width: 100%;
}

.hero-text {
    position: relative;
    top: 100px;
}

    .hero-text h1 {
        margin-bottom: 50px;
    }

.hero-CTA {
    text-decoration: none;
    border: 1px solid white;
    color: white;
    padding: 20px 30px 20px 30px;
}

    .hero-CTA:hover {
        background-color: white;
        color: black;
    }

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-content: center;
    margin-top: 100px;
}

.product-card {
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80vh 100px;
}

    .product-card img {
        object-fit: cover;
        height: 100%;
    }

.product-description {
    border-top: 1px solid black;
    text-align: center;
    padding: 10px 0 10px 0;
    background-color: white;
}

.price {
    color: darkgray;
}

.animal-grid {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.animal-header {
    margin-top: 50px;
    text-align: center;
}

.animal-grid img {
    margin-top: 3px;
    width: 25%;
    flex: 0 1 25%;
}

footer {
    background-color: black;
    color: white;
    padding: 0 50px 0 50px;
}

.information {
    display: flex;
    flex-direction: row;
}

.subfooter {
    display: flex;
    flex-direction: row;
}

.subfooter h6 {
    padding: 20px;
}

.twin {
    display: grid;
    grid-template-columns: 47% 47%;
    grid-auto-rows: 1fr;
    grid-column-gap: 50px;
}

.twin h5 {
    padding-bottom: 25px;
    border-bottom: 1px solid gray;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    color: gray;
    font-weight: bold;
    font-size: 64px;
}

.prev {
    top: 50%;
}

.next {
    top: 50%;
    right: 0;
}

.product-slider {
    position: relative;
    margin-bottom: 50px;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60%;
    max-height: fit-content;
    margin-bottom: -300px;
}

.grid img {
    height: 100%;
    object-fit: cover;
}

.grid .prev, .grid .next {
    top: 25%;
}

.slider-box {
    position: absolute;
    padding: 40px;
    bottom: 10%;
    right: 10%;
    background: white;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.slider-box h5 {
    font-size: 56px;
    margin-bottom: 10px;
    margin-top: 40px;
    line-height: 1.1;
}

.slider-box p {
    border: 1px solid black;
    padding: 15px;
    width: 26%;
    text-align: end;
}

.pink {
    background-color:#f4e0ea;
    padding: 100px;
}

.pink h2 {
    font-size: 96px;
}

.pink h3 {
    line-height: 2em;
}

.pink img {
    width: 25%;
}

.blue {
    background-color: #aae2f8;
    padding: 50px;
}

.blue h5{
    text-align: center;
}

.logo-container {
    display: flex;
}

.logo-container img {
    width: auto;
    height: 80px;
}

.small {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin:0 auto;
    border: 1px solid black;
}

.collections-grid {
    display: flex;
    flex-direction: column;
}

.product-collection {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 600px;
    max-height: fit-content;
}

.product-collection img {
    height: 100%;
    object-fit: cover;
}

.product-line {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-content: center;
}

.side-banner {
    background-color: #f4e0ea;
    padding: 25% 10%;
}

.side-banner h3 {
    margin-bottom: 40px;
    font-size: 32px;
}

.collections-button {
    border: 1px solid black;
    padding: 15px 20px;
    letter-spacing: 3px;
    margin-top: 15px;
}

.collections-header {
    text-align: center;
    margin: 25px;
}

.logo-text h5 {
    margin: 0;
    margin-top: -40px;;
}

.instagram img {
    width: 20px;
    height: auto;
}

.input {
    width: 100%;
    height: 35px;
    display: flex;
}

input {
    background-color: black;
    border: 1px solid white;
    color: white;
    width: 90%;
}

button.join {
    width: 10%;
    margin-left: -3px;
}

.icon-text-combo {
    display: flex;
    flex-direction: row;
}

.icon-text-combo img {
    width: 15px;
    height: auto;
    padding-right: 10px;
}

.side-icons img {
    width: 25px;
    height: auto;
    padding: 7px;
}

.side-icons {
    position: absolute;
    right: 10px;
    bottom: 25%;
}

.sale {
    background-color: black;
    color: white;
    position: relative;
    top: 0;
    left: 0;
}